.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

/* shared style  */

.btn-primary {
    background-color: #FF900E;
    color: rgba(255, 255, 255, 0.894);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

/* body style  */

/* head style  */

.display-flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}

.navbar ul li {
    list-style: none;
    margin-right: 20px;
}

.navbar ul a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

.container {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
    width: 1400px;
    margin: 0 auto;
}

/* banner style  */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.banner-content p {
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-image {
    width: 100%;
    padding-bottom: 20px;
}

/* main style  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    align-items: center;
    gap: 73px;
    margin-top: 80px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    max-width: 530px;
}

.features h3 {
    font-size: 3rem;
}

.features p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* section style  */

.facts h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
    text-align: center;
    margin-top: 200px;

}

.facts p {
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
}

.fatc-container {
    display: flex;
    max-width: 1340px;
    justify-content: center;
    gap: 225px;
    margin-top: 100px;
}

.fact {
    border: 1px solid #FF900E;
    padding: 20px 40px;
    height: 241px;
    width: 241px;
    text-align: center;
    border-radius: 8px;
}

.fact h4 {
    font-size: 3rem;
    color: #424242;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fact h6 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

/* sponsor style  */
.sponsor-title {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-title h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}

.sponsor-title p {
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}

.sponsor-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-image img {
    filter: grayscale(100%);
}

/* enjoy style  */

.enjoy-container {
    display: flex;
    max-width: 1440px;
    margin: 130px auto;
    gap: 54px;
}

.enjoy-content {
    max-width: 596px;
    max-height: 982px;
}

.enjoy-content h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.enjoy-content p {
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.enjoy-card .card {
    box-shadow: 0 4px 30px 0 #00000014;
    padding: 10px 20px;
    max-height: 171px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#Experience {
    padding: 46px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -40px;
    margin-top: -70px;
}

#years {
    font-size: 4rem;
    font-weight: 700;
}

/* footer style  */
footer p {
    background-color: #FFF4E7;
    max-width: 1440px;
    height: 100px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #424242;
    border-radius: 12px;
}

@media screen and (max-width: 576px) {

    .navbar,
    .banner {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar .brand {
        font-size: 1.25rem;
    }

    ul {
        flex-wrap: wrap;
        gap: 15px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .display-flex {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .fatc-container {
        display: block;
    }

    .fatc-container .fact {
        margin-top: 20px;
    }

    .teams button {
        margin-left: 80px;
    }

    .sponsor-title h3 {
        font-size: 2.25rem;
    }

    .sponsor-image {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sponsor-image img {
        margin-bottom: 30px;
    }

    .enjoy-container {
        display: block;
    }

    .facts h3 {
        margin-top: 0;
    }

    .enjoy-content h3 {
        font-size: 2rem;
    }

    .enjoy-image img {
        max-width: 95%;
        margin-top: 230px;
    }

    .enjoy-card .card {
        max-height: 200px;

    }

    footer p {
        max-width: 95%;
        margin-bottom: 0;
        margin-top: 80px;
        font-size: 1rem;
        text-align: center;
    }
    #Experience{
        padding: 10px 15px;
        margin: 15px auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {

    .navbar,
    .banner {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar .brand {
        font-size: 2.25rem;
    }

    .banner-title {
        font-size: 3.5rem;
    }

    .display-flex {
        flex-direction: column;
        padding: 0 20px;

    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .features {
        text-align: center;
    }

    .teams button {
        margin-left: 80px;
    }

    ul {
        display: flex;
    }
}